doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title Yelm
    body
        .navbar.navbar--fixed.navbar--backdrop
            a.navbar-brand(href="#!")
                span.text.text--black.text--medium Конструктор мобильных приложений
            - const navbar_items = [ 'О нас', 'Кейсы', 'Возможности', 'Интеграции', 'Блог', 'Цены', 'F.A.Q', 'Контакты' ];
            ul.navbar-menu
                each navbar_item in navbar_items
                    li.navbar-menu__item
                        a(href="#!").navbar-menu__link.text.text--black.text--medium=navbar_item
            .navbar-actions
                a(href="#!").navbar-actions__link.text.text--black.text--medium.view--lg  Войти
                a(href="#!").button.button--gradient_border.view--lg
                    span Зарегистрироваться
                a(href="#!").button.button--gradient_border.view--md
                    span Войти
            button.navbar-toggler
                span
        block content
        .footer
            .container
                .row
                    .col.col-12.footer__inner
                        .footer__top
                            .footer-logo
                                span Конструктор мобильных приложений
                            .footer-menu-row
                                - const first_menu = [{ text: 'О нас', link: '#!' }, { text: 'Кейсы', link: '#!' }, { text: 'Возможности', link: '#!' }, { text: 'Интеграции', link: '#!' }]
                                - const second_menu = [{ text: 'Блог', link: '#!' }, { text: 'Цены', link: '#!' }, { text: 'F.A.Q', link: '#!' }, { text: 'Контакты', link: '#!' }]
                                ul.footer-menu
                                    each item in first_menu
                                        li.footer-menu__item
                                            a(href=item.link).footer-menu__link=item.text
                                ul.footer-menu
                                    each item in second_menu
                                        li.footer-menu__item
                                            a(href=item.link).footer-menu__link=item.text
                            .footer-contact
                                .footer-contact__header Связь с нами
                                .footer-contact__items
                                    a.footer-contact__item.footer-contact--phone
                                        span +7 999 999 99 99
                                    a.footer-contact__item.footer-contact--mail
                                        span admin@yelm.io
                            .footer-socials.only--sm
                                a(href="#!").footer-socials__item.footer-socials--instagram
                                a(href="#!").footer-socials__item.footer-socials--youtube
                                a(href="#!").footer-socials__item.footer-socials--vk
                                a(href="#!").footer-socials__item.footer-socials--facebook
                        .footer-divider
                        .footer-bottom
                            .footer-copyright 2021 Yelm. Все права защищены
                            .footer-socials.only--md
                                a(href="#!").footer-socials__item.footer-socials--instagram
                                a(href="#!").footer-socials__item.footer-socials--youtube
                                a(href="#!").footer-socials__item.footer-socials--vk
                                a(href="#!").footer-socials__item.footer-socials--facebook