doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title Yelm
    body
        .navbar.navbar--fixed.navbar--backdrop
            a.navbar-brand(href="#!")
                span.text.text--black.text--medium Конструктор мобильных приложений
            - const navbar_items = [ 'О нас', 'Кейсы', 'Возможности', 'Интеграции', 'Блог', 'Цены', 'F.A.Q', 'Контакты' ];
            ul.navbar-menu
                each navbar_item in navbar_items
                    li.navbar-menu__item
                        a(href="#!").navbar-menu__link.text.text--black.text--medium=navbar_item
            .navbar-actions
                a(href="#!").navbar-actions__link.text.text--black.text--medium.view--lg  Войти
                a(href="#!").button.button--gradient_border.view--lg
                    span Зарегистрироваться
                a(href="#!").button.button--gradient_border.view--md
                    span Войти
            button.navbar-toggler
                span
        block content