.button {
  cursor: pointer;
  border: 0;
  outline: none;

  span {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: content-box;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    width: 100%;
    height: 100%;
    z-index: 3;
  }
  //
  &--gradient_border {
    width: 242px;
    height: 48px;
    border-radius: 20px;
    background-color: rgba(0,0,0,0);
    background-blend-mode: overlay;
    background-image: linear-gradient(269.1deg, #FF6463 1.32%, #FF468B 19.07%, #DD3CBC 34.66%, #B724FF 50.03%, #953AFF 65.81%, #3578FF 82.8%, #0793FF 99.01%);
    position: relative;
    overflow: hidden;
    box-sizing: content-box;
    transition: transform, background-color 350ms;
    span {
      width: calc(100% - 4px);
      height: calc(100% - 4px);
      top: 2px;
      left: 2px;
      background-color: #fff;
      border-radius: 20px;
      color: #000;
    }
    &:hover {
      background-color: #274DDC;
    }
    &:active {
      transform: scale(.99);
      background-color: #0A84FF;
    }
  }
  &--gradient_colors {
    width: 300px;
    height: 60px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    background-color: #0A84FF;
    background-image: url('../images/design/buttons/gradient_colors/default.svg');
    transition: transform, background-color 350ms;
    &::before, &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      display: block;
      top: 0;
      left: 0;
      transition: opacity 350ms;
    }
    &::before {
      background-color: #0A84FF;
      background-image: url('../images/design/buttons/gradient_colors/hover.svg');
      background-repeat: no-repeat;
      background-position: center;
      opacity: 0;
      z-index: 1;
    }
    &::after {
      opacity: 0;
      background-color: #0A84FF;
      background-image: url('../images/design/buttons/gradient_colors/active.svg');
      z-index: 2;
    }
    &:hover {
      background-color: rgba(0,0,0,0);
      &::before {
        opacity: 1;
      }
    }
    &:active {
      transform: scale(.99);
      background-color: rgba(0,0,0,0);
      &::before {
        opacity: 0;
      }
      &::after {
        opacity: 1;
      }
    }
  }
  //
  &--gradient_blue {
    width: 320px;
    height: 60px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    background-color: #0A84FF;
    background-image: url('../images/design/buttons/gradient_blue/default.svg');
    background-blend-mode: color-burn;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform, background-color 350ms;
    &::before, &::after {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      transition: opacity 350ms;
    }
    &::before {
      background-color: #2041B3;
      background-image: url('../images/design/buttons/gradient_blue/hover.svg');
      background-blend-mode: color-dodge;
      background-repeat: no-repeat;
      background-position: center;
      opacity: 0;
      z-index: 1;
    }
    &::after {
      opacity: 0;
      background-blend-mode: color-dodge;
      background-color: #B6DBFF;
      background-image: url('../images/design/buttons/gradient_blue/active.svg');
      z-index: 2;
    }
    &:hover {
      background-color: rgba(0,0,0,0);
      &::before {
        opacity: 1;
      }
    }
    &:active {
      transform: scale(.99);
      background-color: rgba(0,0,0,0);
      &::before {
        opacity: 0;
      }
      &::after {
        opacity: 1;
      }
    }
  }
}