.blog
    .container
        .functions-breadcrumbs
            span 06
            span Блог
        .functions-title Что о нас говорят?
        .row.blog-content
            .col.col-12.col-md-6
                .blog-item.blog--first
                    span Как ресторану выжить и заработать во время карантина?
            .col.col-12.col-md-6
                .row
                    .col.col-6
                        .blog-item.blog--second
                            span Российская компания оставила без работы программистов и разработчиков
                    .col.col-6
                        .blog-item.blog--third
                            span Как создать мобильное приложение всего за 4990 рублей?
                .row.only--md
                    .col.col-12
                        .blog-item.blog--fourth
                            span Как СММ-агенство из Тамбова увеличило прибыль с 25.000 руб. до 170.000 руб.  в месяц?