.cases
    .container
        .cases-breadcrumbs
            span 02
            span Кейсы
        .cases-title Приложения наших пользователей
        .cases-carousel.owl-carousel.owl-theme
            .item
                .cases-item
                    .cases-preview.cases-preview--yaz
                    .cases-content
                        .cases-header ЛовиЯзя - все для рыбалки
                        .cases-body
                            .cases-list
                                .cases-list__header 🎉 Чего добились?
                                ul.cases-list__inner
                                    li Средний чек увеличился на 35%
                                    li Начали продавать на всю Россию онлайн
                                    li Привлекли новых клиентов
                            .cases-list
                                .cases-list__header 🔥 Что понравилось?
                                ul.cases-list__inner
                                    li Функция Push - уведомлений
                                    li Оплата внутри приложения
                        .button.button--gradient_colors
                            span Сделать так же
                    .button.hide.button--gradient_colors
                        span Сделать так же
            .item
                .cases-item
                    .cases-preview.cases-preview--extra
                    .cases-content
                        .cases-header ExtraDelicate - нижнее белье на заказ
                        .cases-body
                            .cases-list
                                .cases-list__header 🎉 Чего добились?
                                ul.cases-list__inner
                                    li Клиенты покупают в 2.5 раза чаще
                                    li Доставка по всей России
                                    li Уменьшились расходы на рекламу
                            .cases-list
                                .cases-list__header 🔥 Что понравилось?
                                ul.cases-list__inner
                                    li Клиентам удобно оформлять доставку
                                    li Красивый каталог товаров
                        .button.button--gradient_colors
                            span Сделать так же
                    .button.hide.button--gradient_colors
                        span Сделать так же
        .cases-bottom
            .cases-bottom__block.cases-bottom--first
                .cases-bottom__image
                .cases-bottom__content
                    | С помощью нашей
                    br
                    | платформы выпустили
                    br
                    | уже
                    span 73
                    | приложения
            .cases-bottom__block.cases-bottom--second
                .cases-bottom__image
                .cases-bottom__content
                    | Предприниматели
                    br
                    | смогли увеличить
                    br
                    | средний чек на
                    span 27%
    .test
        .test-backdrop
        .test-circle
            .test-content.container
                .cases-breadcrumbs
                    span 03
                    span Тест
                .test-title
                    |Подходит ли YELM
                    span для моего бизнеса?
                button.button.button--gradient_blue.test-button
                    span Узнать
            .test-cube