.contact
    .contact-left
        .contact-left-circle_big
        .contact-left-circle
    .container
        .row
            .col.col-12.col-lg-7
                .plans-breadcrumbs
                    span 09
                    span Контакты
                .contact-header
                    .contact-title Нужна консультация?
                    .contact-subtitle Оставьте заявку и мы расскажем вам подробнее
                .contact-form
                    .contact-form-group
                        input(name="name", placeholder="Ваше имя", type="text")
                    .contact-form-group
                        input#contact_phone(name="phone")
                    .contact-form-group
                        input(name="email", placeholder="E-mail", type="text")
                    .contact-form-group
                        textarea(name="question", placeholder="Ваш вопрос")
                    .contact-form-group.contact-form-group--checkbox
                        input#agree(type="checkbox", name="agree")
                        label(for="agree")
                            span Я ознакомлен и согласен с условиями
                                a(href="/terms") пользовательского соглашения
                    .contact-form-group
                        .button.button--gradient_colors
                            span Оставить заявку
    .contact-right
        .contact-right-circle
            .contact-right-image
            .contact-right-cube
            .contact-right-category



div(style="height: 500px")