.contact
    .container
        .plans-breadcrumbs
            span 09
            span Контакты
        .contact-header
            .contact-title Нужна консультация?
            .contact-subtitle Оставьте заявку и мы расскажем вам подробнее
        .row
            .col.col-12.col-lg-7
                .contact-form
                    .contact-form-group
                        input#contact_phone
            .col.col-12.col-lg-5
                .contact-right
                    .content-right-circle


div(style="height: 500px")