div.first-screen
    .container
        .row
            .offer.col.col-12.col-md-7
                h1.offer-title Создайте собственное мобильное приложение
                    b без программирования
                .offer-subtitle Эффективный способ стать лучшим среди конкурентов 🔥
                button.button.button--gradient_colors
                    span Создать бесплатно
    .first-illustration
        .illustration-glossy.illustration-glossy--one
        .illustration-glossy.illustration-glossy--two
