div.first-screen
    .container
        .row
            .offer.col.col-12.col-md-8
                h1.offer-title Создайте собственное мобильное приложение
                    b без программирования
                .offer-subtitle Эффективный способ стать лучшим среди конкурентов 🔥
                button.button.button--gradient_colors
                    span Создать бесплатно
    .first-illustration
        .illustration-glossy.illustration-glossy--one
        .illustration-glossy.illustration-glossy--two
        .illustration-ellipse
        .illustration-ellipse.illustration-ellipse--two
        .illustration-circle
        .illustration-circle.illustration-circle--two
        .illustration-circle.illustration-circle--three
        .illustration-line
        .illustration-phone
            .illustration-phone__main
                .illustration-phone__up
                    .illustration-phone__up-inner
                .illustration-phone__shadow
                .illustration-phone__middle
                .illustration-phone__blot
                    .illustration-phone__content
                        .illustration-title 990
                            span
                        .illustration-subtitle до 8 марта
                .illustration-phone__cube
                .illustration-phone__busket-box
                    .illustration-phone__busket
                .illustration-phone__card
                .illustration-phone__tools

