.integrations.container
    .functions-breadcrumbs
        span 05
        span Интеграции
    .functions-title Интеграции
.integrations-carousel.owl-carousel.owl-theme#first
    .item
        .integrations-item
            .integrations-image.integrations--delivery
    .item
        .integrations-item
            .integrations-image.integrations--r_keeper
    .item
        .integrations-item
            .integrations-image.integrations--iiko
.integrations-carousel.owl-carousel.owl-theme#second
    .item
        .integrations-item
            .integrations-image.integrations--yandex_eda
    .item
        .integrations-item
            .integrations-image.integrations--yclients
.integrations-carousel.owl-carousel.owl-theme#third
    .item
        .integrations-item
            .integrations-image.integrations--amocrm
    .item
        .integrations-item
            .integrations-image.integrations--cloudpayments
    .item
        .integrations-item
            .integrations-image.integrations--appsflyer
div(style="height: 500px")