.second
    .second-circle
        .second-circle__specular
        .second-circle__inner
            .second-circle__content
                .second-circle__breadcrumbs
                    span 01
                    span О нас
                .second-circle__title Как создать приложение без специальных знаний и опыта
                    span с YELM за 1 час?
                .second-circle__video
                    .second-circle__overlay
                    a(href="#!").second-circle__video-action

        .second-circle__cloud
    .container
        .row.second-content
            .col.col-12.col-lg-8.offset-lg-4
                .row.second-content__row
                    .col.col-12.col-lg-6
                        .second-content__col
                            .second-content__image
                                .second-content__image-inner.second-content__image--money
                            .second-content__inner
                                .second-content__title Дешевле клиенты
                                .second-content__text
                                    |Сейчас вы теряете деньги на рекламе!
                                    br
                                    |Мобильный трафик на 20% дешевле, при более высоком ROI.
                    .col.col-12.col-lg-6
                        .second-content__col
                            .second-content__image
                                .second-content__image-inner.second-content__image--shopper
                            .second-content__inner
                                .second-content__title Больше продажи
                                .second-content__text
                                    |46% онлайн покупок люди совершают через смартфоны,
                                    br
                                    |А вероятность повторного заказа из приложения 80%
                .row.second-content__row
                    .col.col-12.col-lg-6
                        .second-content__col
                            .second-content__image
                                .second-content__image-inner.second-content__image--globus
                            .second-content__inner
                                .second-content__title Быстрее внедрение
                                .second-content__text
                                    |Создать приложение в YELM -  1 день.
                                    br
                                    |Создать приложение с нуля - 2-3 месяца.
                                    br
                                    |Начинайте продавать и получать прибыль сразу
                    .col.col-12.col-lg-6
                        .second-content__col
                            .second-content__image
                                .second-content__image-inner.second-content__image--rocket
                            .second-content__inner
                                .second-content__title Сильнее бизнес
                                .second-content__text
                                    |Внедрите инновации раньше конкурентов и войдите в 1% фирм с приложением
                                    br
                                    |Захватите большую часть рынка!
div(style="height: 500px")
