.container
    .steps
        .steps-header
            .steps-header__inner 4 шага к приложению
        .steps-body
            .step.step--user
                .step-image
                .step-title Шаг 1
                .step-text Зарегистрируйтесь
                .step-arrow.step-arrow--first
            .step.step--equalizer
                .step-image
                .step-title Шаг 2
                .step-text
                    |Загрузите товары
                    br
                    |и выберите функции
                .step-arrow.step-arrow--second
            .step.step--stopwatch
                .step-image
                .step-title Шаг 3
                .step-text
                    |Отправьте
                    br
                    |на публикацию
                .step-arrow.step-arrow--three
            .step.step--target
                .step-image
                .step-title Шаг 4
                .step-text
                    |Все настолько просто,
                    br
                    |что его нет