extends layout/main
block content
    .page
        include blocks/first
        include blocks/second
        include blocks/steps
        include blocks/cases
        include blocks/functions
        include blocks/integrations
        include blocks/blog
        include blocks/plans
        include blocks/faq