.contact
  @media (min-width: 768px)
    padding: 80px 0
  @media (max-width: 767px)
    padding: 24px 0 48px
  position: relative
  .plans-breadcrumbs
    padding-top: 0
  &-header
    display: flex
    flex-direction: column
    align-items: flex-start
    justify-content: flex-start
    @media (min-width: 768px)
      margin-top: 10px
    @media (max-width: 767px)
      margin-top: 32px
  &-title
    font-style: normal
    font-weight: 500
    color: $black
    @media (min-width: 768px)
      font-size: 56px
      line-height: 69px
      margin-bottom: 16px
    @media (max-width: 767px)
      font-size: 24px
      line-height: 30px
      margin-bottom: 8px
  &-subtitle
    font-style: normal
    font-weight: 350
    color: #333333
    @media (min-width: 768px)
      font-size: 16px
      line-height: 36px
    @media (max-width: 767px)
      font-size: 12px
      line-height: 14px
  &-form
    @media (min-width: 768px)
      margin-top: 50px
    @media (max-width: 767px)
      margin-top: 32px
    &-group
      &:not(:last-child)
        margin-bottom: 16px
      &:nth-child(4)
        @media (min-width: 768px)
          margin-bottom: 30px
        @media (max-width: 767px)
          margin-bottom: 20px
      &:nth-child(5)
        @media (min-width: 768px)
          margin-bottom: 50px
        @media (max-width: 767px)
          margin-bottom: 32px
      .button
        @media (min-width: 768px)
          @include only-width(300px)
          @include only-height(60px)
        @media (max-width: 767px)
          width: 100%
          max-width: 327px
          min-width: initial
          margin-left: auto
          margin-right: auto
          @include only-height(50px)
      input
        &:not(#contact_phone)
          &[type="text"]
            height: auto
            border: 1px solid #bdbdbd
            border-radius: 10px
            outline: none
            font-style: normal
            font-weight: 350
            color: #333
            display: block
            width: 100%
            @media (min-width: 768px)
              padding: 14px 16px
              font-size: 16px
              line-height: 20px
            @media (max-width: 767px)
              padding: 13px 16px
              font-size: 14px
              line-height: 16px
            &::placeholder
              color: #BDBDBD
          &[type="checkbox"]
            position: absolute
            display: none
            & + label
              position: relative
              cursor: pointer
              padding: 0
              display: flex
              align-items: center
              &:before
                content: ''
                margin-right: 10px
                display: block
                vertical-align: text-top
                @include only-width(24px)
                @include only-height(24px)
                border: 1px solid #BDBDBD
                border-radius: 5px
                background: white
              &::after
                content: ''
                display: block
                position: absolute
                background: url('../images/design/check.png') no-repeat center top
                @include only-width(24px)
                @include only-height(24px)
                top: 9px
                opacity: 0
                transition: opacity 350ms
              span
                display: inline-block
                vertical-align: bottom
                font-style: normal
                font-weight: 350
                font-size: 14px
                line-height: 120%
                color: $black
                @media (max-width: 767px)
                  white-space: nowrap
                a
                  display: block
                  color: $blue
                  text-decoration: underline
            &:checked
              & + label
                &::after
                  opacity: 1
      textarea
        height: auto
        border: 1px solid #bdbdbd
        border-radius: 10px
        outline: none
        font-style: normal
        font-weight: 350
        color: #333
        display: block
        width: 100%
        @media (min-width: 768px)
          padding: 14px 16px
          font-size: 16px
          line-height: 20px
        @media (max-width: 767px)
          padding: 13px 16px
          font-size: 14px
          line-height: 16px
        &::placeholder
          color: #BDBDBD

  &-right
    width: 100%
    position: absolute
    top: 0
    @media (max-width: 1780px) and (min-width: 1630px)
      right: -5%
    @media (max-width: 1629px) and (min-width: 1400px)
      right: -15%
    @media (max-width: 1399px) and (min-width: 1280px)
      right: -20%
    @media (max-width: 1279px)
      right: -25%
    @media (max-width: 1199px)
      display: none
    &-circle
      width: 100%
      @include only-width(610px)
      @include only-height(606px)
      background-color: $blue
      border-radius: 50%
      position: absolute
      right: 182px
      top: 44px
      left: auto
    &-image
      @include only-width(1082.73px)
      @include only-height(653px)
      position: absolute
      background: url('../images/design/contact/image.png') no-repeat center
      top: 29.28px
      left: 130.38px
      transform: rotate(3.39deg)
    &-cube
      @include only-width(104.11px)
      @include only-height(96.51px)
      position: absolute
      top: -13.17px
      right: 129.76px
      left: auto
      background: url('../images/design/contact/cube.png') no-repeat center
      transform: rotate(15deg)
    &-category
      @include only-width(233.39px)
      @include only-height(200.64px)
      top: 205.75px
      left: 9.92px
      position: absolute
      background: url('../images/design/contact/category.png') no-repeat center
      transform: rotate(-6.05deg)

  &-left
    width: 100%
    position: absolute
    top: 0
    @media (max-width: 1780px) and (min-width: 1630px)
      left: -5%
    @media (max-width: 1629px) and (min-width: 1400px)
      left: -15%
    @media (max-width: 1399px) and (min-width: 1280px)
      left: -20%
    @media (max-width: 1279px)
      left: -25%
    @media (max-width: 1199px)
      display: none
    &-circle
      position: absolute
      @include only-width(25.58px)
      @include only-height(25.58px)
      border-radius: 50%
      background: #F2F2F2
      top: 654.4px
      left: 278.14px
      &_big
        position: absolute
        @include only-width(702.18px)
        @include only-height(702.96px)
        border-radius: 50%
        border: 1px solid rgba(227, 230, 233, 0.7)
        top: 210.25px
        left: -393.51px

